.buts {
  display: flex;
  gap: 12px;
  width: 100%;
  max-width: 800px; /* ограничитель ширины, по желанию */
  margin: 20px auto;  
        /* центрирование блока, по желанию */
}

.buts button{
  width: 120px;
  min-height: 44px;
}

.btuy{
  padding: 10px 16px;
  font-size: 14px;
  cursor: pointer;
  text-align:center;
  border: none;
  border-radius: 20px;
  border:1px solid gray;
  background-color: black;
color: whitesmoke;
&:hover{
cursor: pointer;
background-color: greenyellow;
color:darkblue;

}
}

.btue{
  padding: 10px 16px;
  font-size: 14px;
  cursor: pointer;
  text-align:center;
  border: none;
  border-radius: 20px;
  border:1px solid gray;
  background-color: black;
color: whitesmoke;
&:hover{
cursor: pointer;
background-color: greenyellow;
color:darkblue;

}
}

.btuq{
  padding: 10px 16px;
  font-size: 14px;
  cursor: pointer;
  text-align:center;
  border: none;
  border-radius: 20px;
  border:1px solid gray;
  background-color: black;
color: whitesmoke;
&:hover{
cursor: pointer;
background-color: greenyellow;
color:darkblue;

}

@media screen and (max-width: 700px){
  .buts{
    grid-template-columns: 1fr;
    max-width: 360px;
  }
}
}



