

.marquee-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.marquee {
  display: flex;
  align-items: center;
  animation: scroll 20s linear infinite;
  width: calc(300px * 14); /* 7 cards × 2 */
}
.card {
  width: 250px;
  height: 150px;
  background: black;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  margin-right: 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  flex-shrink: 0;
}

.card1{
background-image: url(../img/yandex-music.png);
background-size: cover;
}
.card2{
background-image: url(../img/catl_autojosh.jpg);
background-size: cover;
}
.card3{
    background-image: url(../img/Image20250621150241.png);
background-size: cover;
}
.card4{
      background-image: url(../img/1e6a7a77778d4d0425517ecdb7c24ddb.webp);
background-size: cover;
}
.card5{
         background-image: url(../img/Image20250621152031.png);
background-size: cover;
}
.card6{
background-color: yellow;
 background-image: url(../img/Image20250621152212.png);
background-size: cover;
}
.card7{
 background-image: url(../img/p1_3827152_c08d9702.jpg);
background-size: cover;
}
.card8{
 background-image: url(../img/sayr.png);
background-size: cover;
}






@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7 - 140px)); /* 7 cards × width + margins (20px × 7 - 1) */
  }
}








